.forgotpage-container {
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(23, 43, 77);
}

.container {
    /* display:block;
    width: 100%;
    padding: 20px; */
}
.forgot-password-form-container {
    width: 450px;
    height: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    margin:0px 20%;
}

.forgot-password-form-container .form-header {
    width: 100%;
    height: fit-content;
    margin: 0px auto ;
}

.title-container {
    text-align: center;
}

.forgot-title {
    font-size: 35px;
    margin: 0;
}

.project {
    color: #00274D; /* Navy Blue */
    font-family: 'Merriweather', serif;
}

.flow {
    color: #00B140; /* Green */
    font-family: 'Pacifico', cursive;
}

.finder {
    color: #7D7D7D; /* Gray */
    font-family: 'Open Sans', sans-serif;
}

.form-header p {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.forgot-password-form-container .form-body {
    width: 100%;
    height: fit-content;
}

.form-body form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin: 7px 0;
}
.form-group .submit{
    background-color:transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: left;
}
.submit span {
    color: #00274D;
    font-size: 12px;
}
.form-box {
    display: flex;
    flex-direction: column;
}

.form-box label {
    font-size: 16px;
    margin-bottom: 3px;
}

.form-box input {
    padding: 10px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 5px;
    outline: none;
}

.form-box input:focus {
    border: 2px solid rgb(35, 164, 143);
}

.field-error p {
    color: red;
    font-size: 13px;
}

.password-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.show-password {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.show-password label {
    cursor: pointer;
    font-size: 14px;
    margin-top: -2px;
}

.form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    background-color: royalblue;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.form-button button {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
}

button span {
    color: white;
    font-size: 16px;
}

@media (max-width: 700px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .forgot-password-image-container {
        display: none;
    }

    .forgot-password-form-container {
        width: 350px;
        border: none;
        margin: 0px;
    }
}
